@model ShopApplicationByFizo.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
        <title>NosMall - Connexion</title>
        <style>

            .link, .link:visited /* Lien et lien visité */ {
                color: black;
                text-decoration: none;
            }

                .link:hover /* On pointe le lien */ {
                    color: red;
                    text-decoration: none;
                }

                .link:active, .link:focus /* Lors de l'activation et de l'attente sur un lien */ {
                    color: skyblue;
                    text-decoration: none;
                }

            .link {
                margin-top: 17px;
            }

            .login-page {
                width: 360px;
                padding: 8% 0 0;
                margin: auto;
            }

            .form {
                position: relative;
                z-index: 1;
                background: #FFFFFF;
                max-width: 360px;
                margin: 0 auto 100px;
                padding: 45px;
                text-align: center;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            }

                .form input {
                    font-family: "Roboto", sans-serif;
                    outline: 0;
                    background: #f2f2f2;
                    width: 100%;
                    border: 0;
                    margin: 0 0 15px;
                    padding: 15px;
                    box-sizing: border-box;
                    font-size: 14px;
                }

                .form button {
                    font-family: "Roboto", sans-serif;
                    text-transform: uppercase;
                    outline: 0;
                    background: #4CAF50;
                    width: 100%;
                    border: 0;
                    padding: 15px;
                    color: #FFFFFF;
                    font-size: 14px;
                    cursor: pointer;
                }

                    .form button:hover, .form button:active, .form button:focus {
                        background: #43A047;
                    }

                .form .message {
                    margin: 15px 0 0;
                    color: #b3b3b3;
                    font-size: 12px;
                }

                    .form .message a {
                        color: #4CAF50;
                        text-decoration: none;
                    }

                .form .register-form {
                    display: none;
                }

            .container {
                position: relative;
                z-index: 1;
                max-width: 300px;
                margin: 0 auto;
            }

                .container:before, .container:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                .container .info {
                    margin: 50px auto;
                    text-align: center;
                }

                    .container .info h1 {
                        margin: 0 0 15px;
                        padding: 0;
                        font-size: 36px;
                        font-weight: 300;
                        color: #1a1a1a;
                    }

                    .container .info span {
                        color: #4d4d4d;
                        font-size: 12px;
                    }

                        .container .info span a {
                            color: #000000;
                            text-decoration: none;
                        }

                        .container .info span .fa {
                            color: #EF3B3A;
                        }

            body {
                background-image: url(http://i.epvpimg.com/uuVBeab.jpg);
                font-family: "Roboto", sans-serif;
                -webkit-font-smoothing: antialiased;
            }
                link {
                    color:red;
                }
        </style>
    </head>
    <body>
        <div class="illustration">
            <div class="i-large"></div>
            <div class="i-medium"></div>
            <div class="i-small"></div>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">NosMall - NosHeat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Connexion", "Login", "Connection", null, new { @class = "link" })
                    </li>
                </ul>
            </div>
        </nav>
        @using (Html.BeginForm("Login", "Connection", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
    @Html.ValidationSummary();
if (ViewBag.Message != null)
{
    <div style="border: 1px solid red">
        @ViewBag.Message
    </div>
}
    <div class="login-page">
        <div class="form">
            @Html.LabelFor(a => a.Name)
            @Html.TextBoxFor(a => a.Name)
            @Html.ValidationMessageFor(a => a.Name)

            @Html.LabelFor(a => a.Password)

            @Html.PasswordFor(a => a.Password)

            @Html.ValidationMessageFor(a => a.Password)
            <input type="submit" value="Connexion" />
        </div>
    </div>
}
    </body>
    </html>